<h1>Are you sure you want to delete your account?</h1>
<form action="/delete-account" method="POST">
  <a href="/main">Cancel</a>
  <button type="submit" name="confirmation" value="yes">Yes</button>
</form>

