<h1>main page</h1>
<h1>Welcome</h1>
<a href="api/auth/signout">signout</a>

<a href="/delete">Delete account</a>

<form id="wordForm" action="/search" method="post">
  <label for="word">Search Word:</label>
  <input
    type="text"
    name="word"
    id="word"
    placeholder="Enter a Word"
    required
  />

  <button type="submit">Search</button>
</form>
<a href="/user/history">View History</a>
<a href="/viewprofile?username=<%= exist.username %>">View profile</a>
<a href="/settings">Settings</a>
<a href="/faqs">FAQs</a>
